<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>

  {% include hero.html %}
  {% include nav.html %}

  <main class="container">
    {{ content }}
  </main>

  <footer>
  <p>© 2025 Médéric Argentina | Powered by GitHub Pages</p>
  <p class="academic-links">
    <a href="https://orcid.org/0000-0002-8926-7398" target="_blank">ORCID</a> |
    <a href="https://scholar.google.com/citations?user=lQoIQiAAAAAJ&hl=en" target="_blank">Google Scholar</a> |
    <a href="https://www.researchgate.net/profile/Mederic-Argentina" target="_blank">ResearchGate</a>
  </p>
</footer>

</body>
</html>
